@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        transform: rotateX(25deg) rotateY(-17deg) rotateZ(9deg);
	    transform-origin: 50% 50% 0px;
        border: 1px solid #866b09;
    }

    .card::before {
        content: '';
        position: absolute;
        top: -6px;
        left:0;
        width: 100%;
        height: 6px;
        background-color: #36352F;
        transform-origin: bottom;
        transform: skew(-45deg);
        border: 0.5px solid #866b09;
    }

    .card::after {
        content: '';
        position: absolute;
        top: -6px;
        right: -6px;
        width: 6px;
        height: 100%;
        background-color: #36352F;
        transform-origin: right;
        transform: skewY(-45deg);
        border: 0.5px solid #866b09;
    }
  }
